.u-flex {
  display: flex;
}

.u-justify-space-between {
  justify-content: space-between;
}

.u-justify-end {
  justify-content: flex-end;
}

.u-align-center {
  align-items: center;
}

.u-align-end {
  align-items: flex-end;
}

.u-direction-col {
  flex-direction: column;
}
