@use "../global" as g;
.c-burger {
  position: relative;
  z-index: 2;
  display: none;
  width: 41px;
  height: 41px;
  border: 1px solid g.$white;
  border-radius: 50%;
  cursor: pointer;

  span {
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: g.$white;
    transition: all 0.3s ease;

    &:nth-child(1) {
      top: calc(50% - 3px);
      left: 50%;
      transform: translate(-50%, calc(50% - 3px));
    }
    &:nth-child(2) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:nth-child(3) {
      top: calc(50% + 3px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &.is-active {
    span {
      top: 50%;
      left: 50%;

      &:nth-child(1) {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  @include g.mq(lg) {
    display: block;
  }
}
