@use "../global" as g;
.p-access {
  padding: 8rem 0;

  &__head {
    color: g.$black;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.7;
    text-align: center;
    margin-bottom: 3.1rem;

    .webp &::after {
      content: url(../images/price_icon.webp);
      display: block;
    }

    .no-webp &::after {
      &::after {
        content: url(../images/price_icon.png);
        display: block;
      }
    }
  }

  &__address {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.9;
    text-align: center;
    margin-bottom: 2.4rem;
  }

  @include g.mq(lg) {
    padding: 5.9rem 0 3.4rem;
  }
}
